@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/minion-pro');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://db.onlinewebfonts.com/c/9719beab12b9e44b85432bb843ad1d55?family=Chaloops+W00+Reg');
* {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 3;
}

nav {
  width: 70%;
  margin: auto;
}

.nav {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(103 * var(--screenWidthInPX) / 1920);
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: calc(30 * var(--screenWidthInPX) / 1920);
}

.nav-links {
  display: inline-flex;
  width: 71%;
  align-items: center;
}

.nav-links a {
  padding-left: 3%;
}

.active {
  color: #4cb3c4;
  text-decoration: underline;
}

.nav img {
  width: calc(180 * var(--screenWidthInPX) / 1920);
}

.switch-language {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.switch-language svg {
  width: calc(25 * var(--screenWidthInPX) / 1920);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: calc(56 * var(--screenWidthInPX) / 1920);
  font-family: 'Fredoka';
  outline: none;
  color: black;
  cursor: pointer;
}

select option {
  font-size: calc(30 * var(--screenWidthInPX) / 1920);
}

.hero-section {
  background-image: url(../images/awlad-swim-desktop.52bb30ebf8546ad5ffa5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100%;
  height: calc(1250 * var(--screenWidthInPX) / 1920);
  background-attachment: local;
}

.hero-section__image {
  display: flex;
  justify-content: center;
  gap: calc(100 * var(--screenWidthInPX) / 1920);
  padding: 3.5% 6%;
  flex-wrap: nowrap;
}

.hero-section__image .iphone {
  width: calc(514 * var(--screenWidthInPX) / 1920);
  height: calc(1027 * var(--screenWidthInPX) / 1920);
  margin-left: 2%;
}

.hero-section__logo {
  margin-top: 8%;
  width: calc(641 * var(--screenWidthInPX) / 1920);
}

.hero-section__logo img {
  width: calc(425 * var(--screenWidthInPX) / 1920);
}

.hero-section__title {
  font-weight: 500;
  font-size: calc(45 * var(--screenWidthInPX) / 1920);
  margin: 2% 0;
}

.hero-section__desc {
  font-size: calc(28 * var(--screenWidthInPX) / 1920);
  padding-bottom: 3%;
}

.hero-section__free {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: calc(164 * var(--screenWidthInPX) / 1920);
}

.hero-section__free p {
  background-color: #4cb3c4;
  color: #fff;
  padding: 1%;
  text-transform: uppercase;
  border-radius: calc(10 * var(--screenWidthInPX) / 1920);
  display: flex;
  justify-content: center;
  font-size: calc(40 * var(--screenWidthInPX) / 1920);
  width: calc(552 * var(--screenWidthInPX) / 1920);
  height: calc(50 * var(--screenWidthInPX) / 1920);
}

.fav {
  width: calc(100 * var(--screenWidthInPX) / 1920);
  border: none;
}

.app-container {
  display: flex;
  align-items: center;
  margin: calc(20 * var(--screenWidthInPX) / 1920);
  gap: calc(48 * var(--screenWidthInPX) / 1920);
}

.testimonial__app-container {
  justify-content: center;
}

.app-container a {
  height: calc(65 * var(--screenWidthInPX) / 1920);
  display: flex;
  width: calc(220 * var(--screenWidthInPX) / 1920);
  color: #fff;
  text-decoration: none;
  border-radius: calc(12 * var(--screenWidthInPX) / 1920);
  background-color: black;
  align-items: center;
  padding: calc(8 * var(--screenWidthInPX) / 1920);
  gap: 3%;
}

.app-container img {
  width: calc(50 * var(--screenWidthInPX) / 1920);
  height: auto;
}

.app-container p {
  font-size: calc(18 * var(--screenWidthInPX) / 1920);
}

.app-container p strong {
  font-size: calc(30 * var(--screenWidthInPX) / 1920);
}

.app-container strong {
  font-weight: normal;
  font-size: calc(30 * var(--screenWidthInPX) / 1920);
}

.video-section {
  background-color: #eac676;
  text-align: center;
}

.video-section__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.video-section__title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: calc(200 * var(--screenWidthInPX) / 1920);
}

.video-section__title h2 {
  font-size: calc(45 * var(--screenWidthInPX) / 1920);
  font-weight: 600;
}

.video-section__title iframe {
  width: calc(150 * var(--screenWidthInPX) / 1920);
  border: none;
}

.video-section__video {
  width: 100%;
}

.video-section__video iframe {
  width: calc(1200 * var(--screenWidthInPX) / 1920);
  border: none;
  height: calc(743 * var(--screenWidthInPX) / 1920);
  border-radius: calc(50 * var(--screenWidthInPX) / 1920);
}

.video-section__boat {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.video-section__boat iframe {
  border: none;
}

.video-section__boat--waves dotlottie-player {
  width: 100%;
  position: relative;
  bottom: calc(-8 * var(--screenWidthInPX) / 1920);
}

.video-section__boat--awlad-boat {
  display: flex;
  justify-content: center;
}

.video-section__boat--awlad-boat dotlottie-player {
  width: calc(800 * var(--screenWidthInPX) / 1920);
  height: calc(400 * var(--screenWidthInPX) / 1920);
  position: absolute;
  bottom: calc(-30 * var(--screenWidthInPX) / 1920);
  right: calc(350 * var(--screenWidthInPX) / 1920);
}

.testimonial {
  background: #51aabc;
  overflow: hidden;
}

.testimonial__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: calc(50 * var(--screenWidthInPX) / 1920);
}

.testimonial__title {
  color: #fff;
  font-weight: 400;
  font-size: calc(65 * var(--screenWidthInPX) / 1920);
  text-align: center;
}

.testimonial__ratings {
  display: flex;
  justify-content: center;
}

.star {
  width: calc(99 * var(--screenWidthInPX) / 1920);
}

.star-animation {
  width: calc(129 * var(--screenWidthInPX) / 1920);
  border: none;
}

.testimonial__ratings-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__rating-text {
  display: flex;
}

.rate-text {
  padding-left: calc(36 * var(--screenWidthInPX) / 1920);
  color: #052a75;
  font-size: calc(36 * var(--screenWidthInPX) / 1920);
  font-weight: 500;
}

.rate-text span {
  font-size: calc(42 * var(--screenWidthInPX) / 1920);
}

.rate {
  font-size: calc(90 * var(--screenWidthInPX) / 1920);
  color: #052a75;
  font-weight: 600;
  font-family: 'Fredoka';
}

.sliders {
  display: flex;
  gap: calc(20 * var(--screenWidthInPX) / 1920);
}

.slider {
  display: flex;
  gap: calc(20 * var(--screenWidthInPX) / 1920);
  white-space: nowrap;
  height: calc(510 * var(--screenWidthInPX) / 1920);
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}

.testimony {
  width: calc(590 * var(--screenWidthInPX) / 1920);
  height: calc(347 * var(--screenWidthInPX) / 1920);
  display: flex;
  white-space: normal;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: calc(50 * var(--screenWidthInPX) / 1920);
  border-radius: calc(20 * var(--screenWidthInPX) / 1920);
}

.testimony p {
  font-size: calc(34 * var(--screenWidthInPX) / 1920);
  text-align: center;
}

.testimony div {
  font-size: calc(25 * var(--screenWidthInPX) / 1920);
  color: #a8bfc1;
}

.features {
  background: linear-gradient(180deg, #51aabc, #274d79, #b284c3);
  display: flex;
  position: relative;
  top: calc(-3 * var(--screenWidthInPX) / 1920);
  flex-direction: column;
}

.features__item2,
.features__item3,
.features__lottie2,
.features__lottie {
  margin-top: calc(-100 * var(--screenWidthInPX) / 1920);
}

.features__title {
  display: flex;
  justify-content: center;
}

.features__title h2 {
  color: #fff;
  text-align: center;
  font-size: calc(65 * var(--screenWidthInPX) / 1920);
  font-weight: 500;
}

.features__item {
  display: flex;
  justify-content: center;
  padding: calc(55 * var(--screenWidthInPX) / 1920);
}

.features__item p,
.features__item span {
  width: calc(380 * var(--screenWidthInPX) / 1920);
  color: #fff;
  font-size: calc(51 * var(--screenWidthInPX) / 1920);
  text-align: center;
  font-family: 'Chaloops W00 Reg';
}

.features__item .feature-image {
  width: calc(860 * var(--screenWidthInPX) / 1920);
}

.arrow {
  width: calc(85 * var(--screenWidthInPX) / 1920);
}

.features__item--rotate {
  margin-top: calc(130 * var(--screenWidthInPX) / 1920);
}

.features__item--left .rotate-right {
  transform: rotate(2deg);
}

.features__item--left .rotate-left {
  transform: rotate(-4deg);
}

.features__item--left .left-down {
  position: relative;
  left: calc(250 * var(--screenWidthInPX) / 1920);
  transform: scaleX(-1);
}

.features__item--right1 {
  margin-top: calc(250 * var(--screenWidthInPX) / 1920);
  transform: rotate(-3deg);
}

.features__item--right1 img {
  position: relative;
  right: calc(-65 * var(--screenWidthInPX) / 1920);
  bottom: calc(-25 * var(--screenWidthInPX) / 1920);
  transform: scaleX(-1) rotate(185deg);
}

.features__item--right2 {
  transform: rotate(4deg);
}

.features__item--right2 img {
  position: relative;
  right: calc(-100 * var(--screenWidthInPX) / 1920);
}

.features__item--right3 {
  margin-top: calc(300 * var(--screenWidthInPX) / 1920);
  transform: rotate(-1deg);
}

.left-top {
  position: relative;
  left: calc(210 * var(--screenWidthInPX) / 1920);
  bottom: calc(-30 * var(--screenWidthInPX) / 1920);
  transform: rotate(180deg);
}

.features__lottie {
  position: relative;
  border: none;
  top: calc(-200 * var(--screenWidthInPX) / 1920);
}

.features__lottie dotlottie-player {
  width: calc(400 * var(--screenWidthInPX) / 1920);
}

.features__lottie2 {
  display: flex;
  justify-content: end;
}

.features__lottie2 dotlottie-player {
  width: calc(400 * var(--screenWidthInPX) / 1920);
}

.features__illustration-city img {
  width: 100%;
  position: relative;
  bottom: calc(-30 * var(--screenWidthInPX) / 1920);
}

.learn-more__container {
  display: flex;
  flex-direction: column;
  padding: 0 0 calc(100 * var(--screenWidthInPX) / 1920);
}

.learn-more__title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.learn-more__title span {
  font-family: 'Minion Pro', sans-serif;
  margin: calc(30 * var(--screenWidthInPX) / 1920) 0;
}

.learn-more__frame {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: calc(44 * var(--screenWidthInPX) / 1920);
}

.learn-more__frame img {
  width: calc(750 * var(--screenWidthInPX) / 1920);
}

.learn-more__frame div {
  display: flex;
  flex-direction: column;
  gap: calc(15 * var(--screenWidthInPX) / 1920);
  width: calc(480 * var(--screenWidthInPX) / 1920);
}

.learn-more__frame div p {
  font-size: calc(28 * var(--screenWidthInPX) / 1920);
}

.learn-more__frame div .learn-more__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(71 * var(--screenWidthInPX) / 1920);
  width: calc(394 * var(--screenWidthInPX) / 1920);
  background-color: #51aabc;
  text-decoration: none;
}

.learn-more__frame div .learn-more__btn span {
  font-weight: 900;
  color: #fff;
  font-family: 'Avenir', sans-serif;
  text-transform: uppercase;
  font-size: calc(37 * var(--screenWidthInPX) / 1920);
}

footer {
  background-color: #000;
  color: #fff;
}

.logo-and-partner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(50 * var(--screenWidthInPX) / 1920);
  padding: calc(50 * var(--screenWidthInPX) / 1920);
}

.col1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col1 img {
  padding: calc(40 * var(--screenWidthInPX) / 1920);
  width: calc(390 * var(--screenWidthInPX) / 1920);
}

.col1 p {
  width: calc(665 * var(--screenWidthInPX) / 1920);
  font-size: calc(30 * var(--screenWidthInPX) / 1920);
}

.col2 h2 {
  color: #808080;
  font-family: 'Baloo Bhaijaan 2';
  font-size: calc(35 * var(--screenWidthInPX) / 1920);
  font-weight: 400;
  text-align: center;
}

.col2 .app-container__link1 {
  border: calc(2 * var(--screenWidthInPX) / 1920) solid #707070;
}

.col2 .app-container__link2 {
  border: calc(2 * var(--screenWidthInPX) / 1920) solid #a2a2a1;
}

.partner-logo {
  display: flex;
  flex-direction: column;
}

.partner-logo .alterwealth {
  width: calc(391 * var(--screenWidthInPX) / 1920);
  margin: auto;
}

.partner-logo .bdouin {
  width: calc(200 * var(--screenWidthInPX) / 1920);
  margin: auto;
}

.copyright {
  width: 100%;
  border-top: 2px solid #ededed;
  display: flex;
  font-weight: 900;
  font-size: calc(27 * var(--screenWidthInPX) / 1920);
  justify-content: center;
  align-items: center;
  height: calc(76 * var(--screenWidthInPX) / 1920);
}

.hidden {
  display: none;
}

header.donate-page {
  background-color: #51aabc;
}

header.donate-page a {
  color: #fff;
}

.donation-section1 {
  background: linear-gradient(
    to bottom,
    #51aabc calc(400 * var(--screenWidthInPX) / 1920),
    #afcde1
  );
  height: calc(987 * var(--screenWidthInPX) / 1920);
}

.donation-section1-content {
  display: flex;
  justify-content: center;
  padding-top: calc(51 * var(--screenWidthInPX) / 1920);
  width: calc(1246 * var(--screenWidthInPX) / 1920);
  margin: auto;
}

.donation-section1-col1 {
  display: flex;
  flex-direction: column;
  width: calc(578 * var(--screenWidthInPX) / 1920);
}

.donation-section1-col1 dotlottie-player {
  border: none;
  height: calc(578 * var(--screenWidthInPX) / 1920);
  width: calc(578 * var(--screenWidthInPX) / 1920);
}

.donation-section1-col1 h1 {
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: calc(50 * var(--screenWidthInPX) / 1920);
}

.donation-section1-col1 h1 span {
  font-family: 'Minion Pro';
}

.donation-section1-col2,
.partner-section1-form {
  background: #fff;
  border-radius: calc(25 * var(--screenWidthInPX) / 1920);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(35 * var(--screenWidthInPX) / 1920);
  margin-left: calc(75 * var(--screenWidthInPX) / 1920);
  width: calc(640 * var(--screenWidthInPX) / 1920);
  z-index: 1;
}
.donation-section1-col2 h2,
.donation-section1-col2 h2 span,
.partner-section1-form h2,
.partner-section1-form h2 span {
  font-size: calc(35 * var(--screenWidthInPX) / 1920);
  margin-bottom: calc(14 * var(--screenWidthInPX) / 1920);
  text-align: center;
  font-family: 'Avenir';
}
.donation-section1-col2 p,
.donation-section1-col2 p span,
.partner-section1-form p,
.partner-section1-form p span {
  font-family: 'Avenir';
  font-size: calc(22 * var(--screenWidthInPX) / 1920);
  margin-bottom: calc(20 * var(--screenWidthInPX) / 1920);
}
.donation-section1-col2 label,
.partner-section1-form label {
  color: #51aabc;
  font-size: calc(22 * var(--screenWidthInPX) / 1920);
  font-weight: 400;
  font-family: 'Avenir';
  margin-bottom: calc(5 * var(--screenWidthInPX) / 1920);
}
.donation-section1-col2 label strong,
.partner-section1-form label strong {
  font-family: 'Avenir';
  font-weight: 600;
}
.donation-section1-col2 input,
.partner-section1-form input {
  border: calc(4 * var(--screenWidthInPX) / 1920) solid #51aabc;
  border-radius: calc(11 * var(--screenWidthInPX) / 1920);
  font-size: calc(22 * var(--screenWidthInPX) / 1920);
  height: calc(66 * var(--screenWidthInPX) / 1920);
  margin-bottom: calc(14 * var(--screenWidthInPX) / 1920);
  padding-left: calc(31 * var(--screenWidthInPX) / 1920);
}
.donation-section1-col2 .donation-section1-btn-mention,
.partner-section1-form .donation-section1-btn-mention {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(24 * var(--screenWidthInPX) / 1920);
}
.donation-section1-col2 .donation-section1-btn-mention p,
.partner-section1-form .donation-section1-btn-mention p {
  color: #51aabc;
  margin-top: calc(37 * var(--screenWidthInPX) / 1920);
  text-align: center;
}
.donation-section1-col2 button,
.partner-section1-form button {
  display: flex;
  align-items: center;
  margin: calc(22 * var(--screenWidthInPX) / 1920) auto 0;
  border: none;
  background: #51aabc;
  color: #fff;
  opacity: 0.4;
  font-family: 'Avenir';
  font-size: calc(30 * var(--screenWidthInPX) / 1920);
  height: calc(51 * var(--screenWidthInPX) / 1920);
  padding: calc(6 * var(--screenWidthInPX) / 1920)
    calc(78 * var(--screenWidthInPX) / 1920);
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.donnation-section2 {
  display: flex;
  justify-content: center;
  padding: calc(58 * var(--screenWidthInPX) / 1920) 0
    calc(51 * var(--screenWidthInPX) / 1920);
}
.donnation-section2 .donnation-section2-col2,
.donnation-section2 .donnation-section2-col2 img {
  width: calc(768 * var(--screenWidthInPX) / 1920);
  height: calc(545 * var(--screenWidthInPX) / 1920);
}
.donnation-section2 .donnation-section2-frame {
  position: relative;
  display: flex;
  width: calc(1246 * var(--screenWidthInPX) / 1920);
}
.donnation-section2 .donnation-section2-frame .donnation-section2-col1 {
  width: calc(427 * var(--screenWidthInPX) / 1920);
  margin-right: calc(32 * var(--screenWidthInPX) / 1920);
  text-align: end;
}
.donnation-section2 .donnation-section2-frame .donnation-section2-col1 h2,
.donnation-section2 .donnation-section2-frame .donnation-section2-col1 h2 span {
  font-family: 'Minion Pro';
  font-size: calc(40 * var(--screenWidthInPX) / 1920);
  margin-top: calc(28 * var(--screenWidthInPX) / 1920);
  line-height: calc(40 * var(--screenWidthInPX) / 1920);
}
.donnation-section2 .donnation-section2-frame .donnation-section2-col1 p {
  font-family: 'Avenir';
  font-size: calc(22 * var(--screenWidthInPX) / 1920);
  margin: calc(22 * var(--screenWidthInPX) / 1920) 0;
}
.donnation-section2 .donnation-section2-frame .donnation-section2-col1 a {
  background: #51aabc;
  border-radius: calc(4 * var(--screenWidthInPX) / 1920);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(29 * var(--screenWidthInPX) / 1920);
  font-family: 'Avenir';
  height: calc(55 * var(--screenWidthInPX) / 1920);
  padding: calc(6 * var(--screenWidthInPX) / 1920);
}
.donnation-section2
  .donnation-section2-frame
  .donnation-section2-col2
  .download {
  width: calc(142 * var(--screenWidthInPX) / 1920);
  position: absolute;
  right: calc(-10 * var(--screenWidthInPX) / 1920);
  bottom: 0;
}

header.partner-page .active {
  color: #000;
}

.partner-section {
  background: #bca571;
  height: calc(1034 * var(--screenWidthInPX) / 1920);
  position: relative;
}
.partner-section .partner-section-content {
  display: flex;
  padding-top: calc(50 * var(--screenWidthInPX) / 1920);
  width: calc(1320 * var(--screenWidthInPX) / 1920);
  margin: auto;
}
.partner-section .partner-section-content h1,
.partner-section .partner-section-content h1 span {
  font-family: 'Minion Pro';
  font-size: calc(50 * var(--screenWidthInPX) / 1920);
  width: calc(558 * var(--screenWidthInPX) / 1920);
  text-align: center;
  line-height: calc(55 * var(--screenWidthInPX) / 1920);
  margin-top: calc(85 * var(--screenWidthInPX) / 1920);
}
.partner-section .partner-section-content img {
  position: absolute;
  bottom: 0;
  width: calc(755 * var(--screenWidthInPX) / 1920);
  height: calc(599 * var(--screenWidthInPX) / 1920);
}
.partner-section .partner-section-content .partner-section1-btn-mention p {
  color: #51aabc;
  margin-top: calc(37 * var(--screenWidthInPX) / 1920);
  text-align: center;
}
.partner-section .partner-section-content dotlottie-player {
  height: calc(253 * var(--screenWidthInPX) / 1920);
  position: absolute;
  left: 0;
  bottom: calc(240 * var(--screenWidthInPX) / 1920);
}
.partner-section textarea {
  height: calc(320 * var(--screenWidthInPX) / 1920);
  padding: calc(19 * var(--screenWidthInPX) / 1920);
  border: calc(4 * var(--screenWidthInPX) / 1920) solid #51aabc;
  border-radius: calc(11 * var(--screenWidthInPX) / 1920);
  font-size: calc(22 * var(--screenWidthInPX) / 1920);
}
@-webkit-keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media only screen and (min-width: 775px) {
  .display-mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 775px) {
  .display-desktop {
    display: none !important;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: unset;
  }
  nav .switch-language select {
    font-size: calc(56 * var(--screenWidthMobileInPX) / 775);
  }
  nav .switch-language select option {
    font-size: calc(20 * var(--screenWidthMobileInPX) / 775);
  }
  nav .switch-language svg {
    width: calc(25 * var(--screenWidthMobileInPX) / 775);
  }
  nav header.donate-page,
  nav .nav-mobile {
    position: fixed;
    width: 100%;
    top: calc(-200 * var(--screenWidthMobileInPX) / 775);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
    height: calc(220 * var(--screenWidthMobileInPX) / 775);
  }
  nav header.donate-page a,
  nav .nav-mobile a {
    font-size: calc(39 * var(--screenWidthMobileInPX) / 775);
    width: 90%;
    padding: calc(10 * var(--screenWidthMobileInPX) / 775);
    border-top: 1px solid #51aabc;
    color: #000;
  }
  nav header.donate-page a.active,
  nav .nav-mobile a.active {
    color: #51aabc;
  }
  nav .nav-mobile.active-menu {
    top: calc(103 * var(--screenWidthMobileInPX) / 775);
  }
  nav .nav {
    height: calc(103 * var(--screenWidthMobileInPX) / 775);
    margin: unset;
    justify-content: space-between;
    background-color: #fff;
    z-index: 3;
  }
  nav .nav img {
    width: calc(180 * var(--screenWidthMobileInPX) / 775);
  }
  nav .nav .burger-menu {
    height: calc(72 * var(--screenWidthMobileInPX) / 775);
    width: calc(72 * var(--screenWidthMobileInPX) / 775);
    position: relative;
  }
  nav .nav .burger-menu span {
    display: block;
    width: 100%;
    height: calc(12 * var(--screenWidthMobileInPX) / 775);
    background-color: #4cb3c4;
    border-radius: calc(25 * var(--screenWidthMobileInPX) / 775);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
  }
  nav .nav .burger-menu span:nth-child(1) {
    top: 25%;
  }
  nav .nav .burger-menu span:nth-child(3) {
    top: 75%;
  }
  nav .nav .burger-menu.active-menu span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  nav .nav .burger-menu.active-menu span:nth-child(2) {
    display: none;
  }
  nav .nav .burger-menu.active-menu span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .hero-section {
    background: linear-gradient(
      to bottom,
      #c0ecf8 calc(696 * var(--screenWidthMobileInPX) / 775),
      #cfcce3
    );
    height: calc(1365 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section__container {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 100%;
    height: calc(988 * var(--screenWidthMobileInPX) / 775);
    background-attachment: local;
    background-image: url(../images/awlad-swim.78760ba519f6b0ac1120.png);
  }
  .hero-section__image {
    gap: calc(30 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section__image .iphone {
    width: calc(433 * var(--screenWidthMobileInPX) / 775);
    height: calc(866 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section__logo {
    margin-top: 32%;
    width: calc(210 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section__logo img {
    width: calc(210 * var(--screenWidthMobileInPX) / 775);
    height: calc(210 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section__logo h1 {
    font-size: calc(37 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section__free {
    justify-content: center;
  }
  .hero-section__free p {
    width: calc(678 * var(--screenWidthMobileInPX) / 775);
    height: calc(68 * var(--screenWidthMobileInPX) / 775);
    font-size: calc(40 * var(--screenWidthMobileInPX) / 775);
    background-color: #fff;
    color: #51aabc;
    padding: 0;
    align-items: center;
  }
  .hero-section__free .fav {
    position: absolute;
    width: calc(89 * var(--screenWidthMobileInPX) / 775);
    right: calc(150 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section__desc.display-mobile {
    padding-top: calc(50 * var(--screenWidthMobileInPX) / 775);
    font-size: calc(34 * var(--screenWidthMobileInPX) / 775);
    text-align: center;
  }
  .hero-section__app {
    height: calc(409 * var(--screenWidthMobileInPX) / 775);
    width: 100%;
    position: relative;
    bottom: calc(-3 * var(--screenWidthMobileInPX) / 775);
    background: linear-gradient(
      to bottom,
      #c0c3de calc(181 * var(--screenWidthMobileInPX) / 775),
      #eac676
    );
  }
  .hero-section .app-container.display-mobile {
    gap: calc(25 * var(--screenWidthMobileInPX) / 775);
    justify-content: center;
    padding: calc(8 * var(--screenWidthMobileInPX) / 775);
    margin: calc(25 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section .app-container.display-mobile a {
    border-radius: calc(12 * var(--screenWidthMobileInPX) / 775);
    width: calc(303 * var(--screenWidthMobileInPX) / 775);
    height: calc(100 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section .app-container.display-mobile a img {
    width: calc(70 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section .app-container.display-mobile a p {
    font-size: calc(25 * var(--screenWidthMobileInPX) / 775);
  }
  .hero-section .app-container.display-mobile a strong {
    font-size: calc(40 * var(--screenWidthMobileInPX) / 775);
  }
  .video-section__video {
    overflow: hidden;
    padding: calc(90 * var(--screenWidthMobileInPX) / 775) 0;
  }
  .video-section__video iframe {
    border-radius: calc(50 * var(--screenWidthMobileInPX) / 775);
    width: calc(728 * var(--screenWidthMobileInPX) / 775);
    height: calc(410 * var(--screenWidthMobileInPX) / 775);
  }
  .video-section__boat--waves dotlottie-player {
    bottom: calc(-2 * var(--screenWidthMobileInPX) / 775);
  }
  .video-section__boat--awlad-boat {
    width: 100%;
    overflow: hidden;
  }
  .video-section__boat--awlad-boat dotlottie-player {
    bottom: calc(-70 * var(--screenWidthMobileInPX) / 775);
    right: unset;
    left: calc(-130 * var(--screenWidthMobileInPX) / 775);
    height: calc(350 * var(--screenWidthMobileInPX) / 775);
    width: 100%;
  }
  .sliders {
    height: calc(530 * var(--screenWidthMobileInPX) / 775);
  }
  .sliders .slider {
    height: unset;
  }
  .testimonial__title {
    font-size: calc(50 * var(--screenWidthMobileInPX) / 775);
    text-align: center;
  }
  .testimonial__ratings-container {
    flex-direction: column;
    margin-bottom: calc(50 * var(--screenWidthMobileInPX) / 775);
  }
  .testimonial__ratings-container .rate {
    font-size: calc(59 * var(--screenWidthMobileInPX) / 775);
  }
  .testimonial__ratings-container .rate-text {
    font-size: calc(23 * var(--screenWidthMobileInPX) / 775);
  }
  .testimonial__ratings-container .rate-text span {
    font-size: calc(28 * var(--screenWidthMobileInPX) / 775);
  }
  .testimonial__ratings-container .testimonial__ratings {
    height: calc(180 * var(--screenWidthMobileInPX) / 775);
  }
  .testimonial__ratings-container .testimonial__ratings img {
    width: calc(96 * var(--screenWidthMobileInPX) / 775);
  }
  .testimonial__ratings-container .testimonial__ratings .star-animation {
    width: calc(130 * var(--screenWidthMobileInPX) / 775);
  }
  .features {
    overflow: hidden;
  }
  .features__title {
    flex-direction: column;
  }
  .features__title iframe {
    margin: auto;
    border: none;
    width: calc(202 * var(--screenWidthMobileInPX) / 775);
    height: calc(202 * var(--screenWidthMobileInPX) / 775);
  }
  .features__title h2 {
    font-size: calc(44 * var(--screenWidthMobileInPX) / 775);
    text-align: center;
  }
  .features__lottie {
    top: calc(-200 * var(--screenWidthMobileInPX) / 775);
    left: calc(350 * var(--screenWidthMobileInPX) / 775);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }
  .features__lottie dotlottie-player {
    width: calc(400 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item1 {
    flex-direction: row-reverse;
  }
  .features__item1 .features__item--left .left-down {
    transform: none;
    left: calc(50 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item2 {
    margin-top: calc(-200 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item2 .left-down {
    left: calc(200 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item .feature-image-mobile {
    overflow: hidden;
    width: calc(376 * var(--screenWidthMobileInPX) / 775);
    height: calc(804 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item .feature-image-mobile img {
    width: calc(964 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item--rotate {
    margin-top: calc(120 * var(--screenWidthMobileInPX) / 775);
    width: calc(331 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item--rotate img {
    width: calc(70 * var(--screenWidthMobileInPX) / 775);
    height: calc(90 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item {
    padding: 0;
  }
  .features__item p {
    font-size: calc(51 * var(--screenWidthMobileInPX) / 775);
    width: unset;
  }
  .features__item p span {
    font-size: calc(51 * var(--screenWidthMobileInPX) / 775);
    font-family: 'Chaloops W00 Reg';
  }
  .features__item3 {
    flex-direction: column;
    overflow: hidden;
    margin-top: calc(-200 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item3 .feature-image-last img {
    position: relative;
    left: calc(-120 * var(--screenWidthMobileInPX) / 775);
    width: calc(964 * var(--screenWidthMobileInPX) / 775);
  }
  .features__item3 .features__item--left {
    display: flex;
    flex-direction: column-reverse;
  }
  .features__item3 .features__item--left .arrow {
    transform: scaleX(-1) rotate(-15deg);
    bottom: 0;
    left: calc(130 * var(--screenWidthMobileInPX) / 775);
  }
  .features .app-container {
    justify-content: center;
    padding: calc(20 * var(--screenWidthMobileInPX) / 775) 0;
    gap: calc(19 * var(--screenWidthMobileInPX) / 775);
  }
  .features .app-container a {
    border-radius: calc(14 * var(--screenWidthMobileInPX) / 775);
    width: calc(303 * var(--screenWidthMobileInPX) / 775);
    height: calc(97 * var(--screenWidthMobileInPX) / 775);
  }
  .features .app-container a img {
    height: 70%;
    width: auto;
  }
  .features .app-container a p {
    font-size: calc(25 * var(--screenWidthMobileInPX) / 775);
  }
  .features .app-container a strong {
    font-size: calc(40 * var(--screenWidthMobileInPX) / 775);
  }
  .features__illustration-city {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .features__illustration-city img {
    bottom: calc(-25 * var(--screenWidthMobileInPX) / 775);
    width: unset;
    height: calc(218 * var(--screenWidthMobileInPX) / 775);
  }
  .testimonial__container {
    margin-bottom: calc(50 * var(--screenWidthMobileInPX) / 775);
  }
  .testimony {
    border-radius: calc(25 * var(--screenWidthMobileInPX) / 775);
    height: calc(347 * var(--screenWidthMobileInPX) / 775);
    width: calc(590 * var(--screenWidthMobileInPX) / 775);
    flex-direction: column;
    justify-content: space-around;
    padding: calc(50 * var(--screenWidthMobileInPX) / 775);
  }
  .testimony p {
    font-size: calc(32 * var(--screenWidthMobileInPX) / 775);
  }
  .testimony div {
    font-size: calc(24 * var(--screenWidthMobileInPX) / 775);
  }
  .learn-more__container {
    padding: unset;
  }
  .learn-more__container h2 {
    font-size: calc(62 * var(--screenWidthMobileInPX) / 775);
  }
  .learn-more__container .learn-more__frame {
    flex-direction: column;
  }
  .learn-more__container .learn-more__frame img {
    width: 100%;
  }
  .learn-more__container .learn-more__frame div {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: calc(80 * var(--screenWidthMobileInPX) / 775);
  }
  .learn-more__container .learn-more__frame div p {
    font-size: calc(30 * var(--screenWidthMobileInPX) / 775);
  }
  .learn-more__container .learn-more__frame div .learn-more__btn {
    width: calc(394 * var(--screenWidthMobileInPX) / 775);
    height: calc(71 * var(--screenWidthMobileInPX) / 775);
  }
  .learn-more__container .learn-more__frame div .learn-more__btn span {
    font-size: calc(37 * var(--screenWidthMobileInPX) / 775);
  }
  .logo-and-partner {
    flex-direction: column;
    padding: calc(50 * var(--screenWidthMobileInPX) / 775);
    overflow: hidden;
  }
  .col1 img {
    padding-top: unset;
    width: calc(390 * var(--screenWidthMobileInPX) / 775);
    margin: auto;
  }
  .col1 p {
    width: unset;
    text-align: center;
    font-size: calc(35 * var(--screenWidthMobileInPX) / 775);
  }
  .col2 h2 {
    font-size: calc(35 * var(--screenWidthMobileInPX) / 775);
  }
  .col2 .partner-logo {
    flex-direction: row;
  }
  .col2 .partner-logo .alterwealth {
    width: calc(390 * var(--screenWidthMobileInPX) / 775);
  }
  .col2 .partner-logo .bdouin {
    height: calc(180 * var(--screenWidthMobileInPX) / 775);
    width: calc(200 * var(--screenWidthMobileInPX) / 775);
    margin-left: calc(74 * var(--screenWidthMobileInPX) / 775);
  }
  .copyright {
    font-size: calc(27 * var(--screenWidthMobileInPX) / 775);
  }
  .donation-section1 {
    background: linear-gradient(
      to bottom,
      #4cb3c4 calc(204 * var(--screenWidthMobileInPX) / 775),
      #f4dbfd calc(1800 * var(--screenWidthMobileInPX) / 775),
      #fff
    );
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
  }
  .donation-section1 .donation-section1-content {
    flex-direction: column;
    width: 100%;
  }
  .donation-section1-col1 {
    flex-direction: column-reverse;
    width: 100%;
  }
  .donation-section1-col1 h1 {
    font-size: calc(61 * var(--screenWidthMobileInPX) / 775);
  }
  .donation-section1-col1 dotlottie-player {
    height: calc(841 * var(--screenWidthMobileInPX) / 775);
    width: 100%;
  }
  .donation-section1-col2,
  .partner-section1-form {
    border-radius: calc(25 * var(--screenWidthMobileInPX) / 775);
    height: calc(912 * var(--screenWidthMobileInPX) / 775);
    width: calc(619 * var(--screenWidthMobileInPX) / 775);
    padding: calc(35 * var(--screenWidthMobileInPX) / 775);
    margin: auto;
  }
  .donation-section1-col2 textarea,
  .partner-section1-form textarea {
    height: calc(340 * var(--screenWidthMobileInPX) / 775);
    padding: calc(19 * var(--screenWidthMobileInPX) / 775) 0 0
      calc(19 * var(--screenWidthMobileInPX) / 775);
    font-size: calc(23 * var(--screenWidthMobileInPX) / 775);
    border: calc(4 * var(--screenWidthMobileInPX) / 775) solid #51aabc;
  }
  .donation-section1-col2 h2,
  .donation-section1-col2 h2 span,
  .partner-section1-form h2,
  .partner-section1-form h2 span {
    font-size: calc(43 * var(--screenWidthMobileInPX) / 775);
    margin-bottom: calc(14 * var(--screenWidthMobileInPX) / 775);
  }
  .donation-section1-col2 p,
  .donation-section1-col2 p span,
  .partner-section1-form p,
  .partner-section1-form p span {
    font-size: calc(24 * var(--screenWidthMobileInPX) / 775);
    line-height: calc(30 * var(--screenWidthMobileInPX) / 775);
    text-align: center;
    font-weight: 700;
    margin-bottom: calc(45 * var(--screenWidthMobileInPX) / 775);
    color: #4cb3c4;
  }
  .donation-section1-col2 p i,
  .donation-section1-col2 p span i,
  .partner-section1-form p i,
  .partner-section1-form p span i {
    font-weight: 300;
  }
  .donation-section1-col2 label,
  .partner-section1-form label {
    color: #000;
    font-size: calc(23 * var(--screenWidthMobileInPX) / 775);
    margin-bottom: calc(6 * var(--screenWidthMobileInPX) / 775);
  }
  .donation-section1-col2 input,
  .partner-section1-form input {
    border: calc(4 * var(--screenWidthMobileInPX) / 775) solid #51aabc;
    border-radius: calc(11 * var(--screenWidthMobileInPX) / 775);
    font-size: calc(23 * var(--screenWidthMobileInPX) / 775);
    height: calc(73 * var(--screenWidthMobileInPX) / 775);
    margin-bottom: calc(17 * var(--screenWidthMobileInPX) / 775);
    padding-left: calc(31 * var(--screenWidthMobileInPX) / 775);
  }
  .donation-section1-col2 button,
  .partner-section1-form button {
    border-radius: calc(4 * var(--screenWidthMobileInPX) / 775);
    font-size: calc(45 * var(--screenWidthMobileInPX) / 775);
    height: calc(85 * var(--screenWidthMobileInPX) / 775);
    width: calc(516 * var(--screenWidthMobileInPX) / 775);
    justify-content: center;
    margin: auto;
    padding: calc(6 * var(--screenWidthMobileInPX) / 775)
      calc(70 * var(--screenWidthMobileInPX) / 775);
  }
  .donnation-section2 {
    padding-bottom: calc(86 * var(--screenWidthMobileInPX) / 775);
    overflow: hidden;
  }
  .donnation-section2 .donnation-section2-frame {
    flex-direction: column;
    margin: auto;
    width: calc(708 * var(--screenWidthMobileInPX) / 775);
  }
  .donnation-section2 .donnation-section2-frame .donnation-section2-col1 {
    width: 100%;
    margin: auto;
  }
  .donnation-section2 .donnation-section2-frame .donnation-section2-col1 h2,
  .donnation-section2
    .donnation-section2-frame
    .donnation-section2-col1
    h2
    span {
    font-size: calc(60 * var(--screenWidthMobileInPX) / 775);
    line-height: calc(63 * var(--screenWidthMobileInPX) / 775);
    margin: auto;
    width: calc(630 * var(--screenWidthMobileInPX) / 775);
    text-align: center;
  }
  .donnation-section2 .donnation-section2-frame .download,
  .donnation-section2 .donnation-section2-frame .download span {
    color: #000;
    font-family: 'Avenir';
    font-size: calc(24 * var(--screenWidthMobileInPX) / 775);
    line-height: calc(30 * var(--screenWidthMobileInPX) / 775);
    margin: calc(17 * var(--screenWidthMobileInPX) / 775) auto 0;
    text-align: center;
    width: calc(662 * var(--screenWidthMobileInPX) / 775);
    text-decoration: none;
  }
  .donnation-section2 .donnation-section2-frame .donnation-section2-col2 {
    position: relative;
    margin-top: calc(30 * var(--screenWidthMobileInPX) / 775);
  }
  .donnation-section2
    .donnation-section2-frame
    .donnation-section2-col2
    .download {
    height: calc(101 * var(--screenWidthMobileInPX) / 775);
    width: calc(101 * var(--screenWidthMobileInPX) / 775);
    right: calc(-10 * var(--screenWidthMobileInPX) / 775);
  }
  .donnation-section2 .donnation-section2-col2,
  .donnation-section2 .donnation-section2-col2 img {
    width: calc(708 * var(--screenWidthMobileInPX) / 775);
    height: calc(502 * var(--screenWidthMobileInPX) / 775);
  }
  .donnation-section2 a.display-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: calc(4 * var(--screenWidthMobileInPX) / 775) solid #000;
    border-radius: calc(14 * var(--screenWidthMobileInPX) / 775);
    text-decoration: none;
    margin: calc(38 * var(--screenWidthMobileInPX) / 775) auto 0;
    width: calc(516 * var(--screenWidthMobileInPX) / 775);
    height: calc(85 * var(--screenWidthMobileInPX) / 775);
  }
  .donnation-section2 a.display-mobile span {
    font-family: 'Avenir';
    color: #000;
    font-size: calc(45 * var(--screenWidthMobileInPX) / 775);
    font-weight: 700;
  }
  .partner-section {
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    padding-bottom: calc(40 * var(--screenWidthMobileInPX) / 775);
  }
  .partner-section .partner-section-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .partner-section .partner-section-content h1,
  .partner-section .partner-section-content h1 span {
    margin: calc(33 * var(--screenWidthMobileInPX) / 775) 0;
    width: calc(711 * var(--screenWidthMobileInPX) / 775);
    font-size: calc(55 * var(--screenWidthMobileInPX) / 775);
    line-height: calc(50 * var(--screenWidthMobileInPX) / 775);
  }
  .partner-section .lottie dotlottie-player {
    height: calc(220 * var(--screenWidthMobileInPX) / 775);
    bottom: calc(390 * var(--screenWidthMobileInPX) / 775);
  }
  .partner-section button {
    margin-top: calc(40 * var(--screenWidthMobileInPX) / 775);
  }
}
@media only screen and (min-width: 2500px) {
  nav,
  .testimonial__container,
  .features__container {
    width: 60%;
    margin: auto;
  }
}
