<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Une nouvelle méthode ludo-interactive pour vous faciliter à tous l’apprentissage de la langue arabe !"
    />
    <script src="index.js"></script>
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"
    ></script>

    <link rel="stylesheet" href="./public/style.css" />
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"
    ></script>
    <title>Awlad School</title>
  </head>
  <body>
    <div>
      <header>
        <nav>
          <div class="nav">
            <div class="logo display-desktop">
              <a href="/">
                <img src="./images/logo.png" alt="Awlad School" />
              </a>
            </div>
            <div class="nav-links display-desktop">
              <a class="home active" href="/">
                <span class="fr">Accueil</span
                ><span class="en hidden">Home</span>
              </a>
              <a href="/donate"
                ><span class="fr">Faire un don</span>
                <span class="en hidden">Donate</span>
              </a>
              <a href="/partner"
                ><span class="fr">Devenir un partenaire</span>
                <span class="en hidden">Bocome a partner</span>
              </a>
            </div>
            <div class="switch-language">
              <select>
                <option value="fr">FR</option>
                <option value="en">EN</option></select
              ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 35">
                <path
                  id="Polygon_7"
                  data-name="Polygon 7"
                  d="M15.152,2.952a3,3,0,0,1,4.7,0l11.28,14.181A3,3,0,0,1,28.78,22H6.22a3,3,0,0,1-2.348-4.868Z"
                  transform="translate(0 35) rotate(-90)"
                ></path>
              </svg>
            </div>
            <div class="logo display-mobile">
              <img src="./images/logo-mobile.svg" alt="Awlad School logo" />
            </div>

            <div class="burger-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="nav-mobile display-mobile">
            <a class="active" href="/">
              <span class="fr">Accueil</span><span class="en hidden">Home</span>
            </a>
            <a href="/donate"
              ><span class="fr">Faire un don</span>
              <span class="en hidden">Donate</span>
            </a>
            <a href="/partner"
              ><span class="fr">Devenir un partenaire</span>
              <span class="en hidden">Bocome a partner</span>
            </a>
          </div>
        </nav>
      </header>
      <main class="main">
        <section class="hero-section">
          <div class="hero-section__container">
            <div class="hero-section__image">
              <img class="iphone" src="./images/iphone.svg" alt="awlad" />
              <div>
                <div class="hero-section__logo">
                  <img
                    class="display-desktop"
                    src="./images/logo-desktop.8257b263901e459213ab.svg"
                    alt="Awlad School logo"
                  />
                  <img
                    class="display-mobile"
                    src="./images/awlad-logo.png"
                    alt="Awlad scool"
                  />
                  <h1 class="hero-section__title">
                    <span class="en hidden"
                      >The number 1 app for learning Arabic easily on your
                      own!</span
                    >
                    <span class="fr">
                      L’application n°1 pour apprendre l’arabe facilement de
                      façon autonome !</span
                    >
                  </h1>
                  <p class="hero-section__desc display-desktop">
                    <span class="fr"
                      >Accessible à tous, petits et grands, Awlad School est un
                      logiciel d’apprentissage en langue arabe conçu pour
                      apprendre, réviser et mémoriser de façon ludique.</span
                    >
                    <span class="en hidden"
                      >Accessible to everyone, young and old, Awlad School is an
                      Arabic language learning software designed for learning,
                      reviewing, and memorizing in a playful way.</span
                    >
                  </p>
                  <div class="hero-section__free display-desktop">
                    <p>
                      100% <span class="fr">Gratuit</span
                      ><span class="en hidden">Free</span> !
                    </p>
                    <iframe
                      class="fav"
                      src="https://lottie.host/embed/0b251a40-0a34-4f06-8cfb-137d150b6386/etYlUdhP7S.json"
                    ></iframe>
                  </div>
                  <div class="app-container display-desktop">
                    <a
                      href="https://play.google.com/store/apps/details?id=com.bdouin.awladschool&amp;hl=fr&amp;gl=US"
                      target="_blank"
                      class="app-container__link"
                      ><img
                        src="./images/google-play-logo.png"
                        alt="Awlad School google play"
                      />
                      <p>
                        <span class="fr">Disponible sur</span>
                        <span class="en hidden">Available on</span><br /><strong
                          >Google Play</strong
                        >
                      </p></a
                    ><a
                      href="https://apps.apple.com/tt/app/awlad-learn-arabic/id1612014910"
                      target="_blank"
                      class="app-container__link"
                      ><img
                        src="./images/apple-logo.png"
                        alt="Awlad School App Store"
                      />
                      <p>
                        <span class="fr">Disponible sur</span>
                        <span class="en hidden">Available on</span>
                        <br /><strong>App Store</strong>
                      </p></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="hero-section__free display-mobile">
              <p>
                100% <span class="fr"> Gratuit </span
                ><span class="en hidden"> Free </span> !
              </p>
              <iframe
                class="fav"
                src="https://lottie.host/embed/0b251a40-0a34-4f06-8cfb-137d150b6386/etYlUdhP7S.json"
              ></iframe>
            </div>
            <div class="hero-section__app">
              <p class="hero-section__desc display-mobile">
                <span class="fr"
                  >Accessible à tous, petits et grands, Awlad School est un
                  logiciel d’apprentissage en langue arabe conçu pour apprendre,
                  réviser et mémoriser de façon ludique.</span
                >
                <span class="en hidden"
                  >Accessible to everyone, young and old, Awlad School is an
                  Arabic language learning software designed for learning,
                  reviewing, and memorizing in a playful way.</span
                >
              </p>
              <div class="app-container display-mobile">
                <a
                  href="https://play.google.com/store/apps/details?id=com.bdouin.awladschool&amp;hl=fr&amp;gl=US"
                  target="_blank"
                  class="app-container__link"
                  ><img
                    src="./images/google-play-logo.png"
                    alt="Awlad School google play"
                  />
                  <p>
                    <span class="fr">Disponible sur</span>
                    <span class="en hidden">Available on</span> <br /><strong
                      >Google Play</strong
                    >
                  </p></a
                ><a
                  href="https://apps.apple.com/tt/app/awlad-learn-arabic/id1612014910"
                  target="_blank"
                  class="app-container__link"
                  ><img
                    src="./images/apple-logo.png"
                    alt="Awlad School App Store"
                  />
                  <p>
                    <span class="fr">Disponible sur</span>
                    <span class="en hidden">Available on</span> <br /><strong
                      >App Store</strong
                    >
                  </p></a
                >
              </div>
            </div>
          </div>
        </section>
        <div class="video-section">
          <div class="video-section__container">
            <div class="video-section__title display-desktop">
              <iframe
                src="https://lottie.host/embed/ab994571-4de2-4519-ad74-ac60396f6916/2sRqzvWEIw.json"
              ></iframe>
              <h2>
                <span class="fr">
                  Suivez un programme unique pour apprendre<br />à lire et
                  écrire l'arabe, seul, en moins de 20 heures !</span
                >
                <span class="en hidden"
                  >Follow a unique program to learn to read and write <br />
                  Arabic on your own in less than 20 hours!</span
                >
              </h2>
            </div>

            <div class="video-section__video">
              <iframe
                class="fr"
                src="https://player.vimeo.com/video/535138410?h=4e6c1061cb&amp;amp;badge=0&amp;amp;autopause=0&amp;amp;player_id=0&amp;amp;app_id=58479"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen=""
                title="AWLAD School Pr&amp;eacute;sentation"
                data-ready="true"
              ></iframe>

              <iframe
                class="en hidden"
                src="https://player.vimeo.com/video/768865488?h=4e6c1061cb&amp;amp;badge=0&amp;amp;autopause=0&amp;amp;player_id=0&amp;amp;app_id=58479"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen=""
                title="AWLAD School Pr&amp;eacute;sentation"
                data-ready="true"
              ></iframe>
            </div>
            <div class="video-section__boat">
              <div class="video-section__boat--awlad-boat">
                <dotlottie-player
                  class="display-desktop"
                  src="https://lottie.host/30945c42-24e1-497d-8bca-710c5451dd95/tyRfCznP8q.json"
                  background="transparent"
                  speed="1"
                  loop
                  autoplay
                ></dotlottie-player>
                <dotlottie-player
                  class="display-mobile"
                  src="https://lottie.host/1ca46bb6-741f-4639-832f-5d5a6c24b573/5iUYXycfNQ.json"
                  background="transparent"
                  speed="1"
                  loop
                  autoplay
                ></dotlottie-player>
              </div>
              <div class="video-section__boat--waves">
                <dotlottie-player
                  src="https://lottie.host/877229a8-ae95-4c1d-951f-be8fb744e184/pufK7DMy9u.json"
                  background="transparent"
                  speed="1"
                  loop
                  autoplay
                ></dotlottie-player>
              </div>
            </div>
          </div>
        </div>
        <section class="testimonial">
          <div class="testimonial__container">
            <h2 class="testimonial__title">
              <span class="fr"
                >Déjà plus de 100 000 utilisateurs inscrits et des milliers
                d’étudiants conquis !</span
              >
              <span class="en hidden"
                >MORE THAN 100 000 STUDENTS <br />
                ALREADY ENROLLED AND DELIGHTED!</span
              >
            </h2>
            <div class="testimonial__ratings-container">
              <div class="testimonial__ratings">
                <img src="./images/star.svg" alt="star" class="star" />
                <img src="./images/star.svg" alt="star" class="star" />
                <img src="./images/star.svg" alt="star" class="star" />
                <img src="./images/star.svg" alt="star" class="star" />
                <iframe
                  src="https://lottie.host/embed/203c82b0-4657-469c-a8b0-23246773a126/e14XBd8z0y.json"
                  class="star-animation"
                ></iframe>
              </div>
              <div class="testimonial__rating-text">
                <strong class="rate">4,9/5</strong>
                <div class="rate-text">
                  <p class="fr">
                    sur plus de<br />
                    <span>1200 AVIS</span>
                  </p>
                  <p class="en hidden">
                    based on over<br />
                    <span>1200 REVIEWS</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="app-container testimonial__app-container display-desktop"
            >
              <a
                href="https://play.google.com/store/apps/details?id=com.bdouin.awladschool&amp;hl=fr&amp;gl=US"
                target="_blank"
                class="app-container__link"
                ><img
                  src="./images/google-play-logo.png"
                  alt="Awlad School google play"
                />
                <p>
                  <span class="fr">Disponible sur</span>
                  <span class="en hidden">Available on</span> <br /><strong
                    >Google Play</strong
                  >
                </p></a
              ><a
                href="https://apps.apple.com/tt/app/awlad-learn-arabic/id1612014910"
                target="_blank"
                class="app-container__link"
                ><img
                  src="./images/apple-logo.png"
                  alt="Awlad School App Store"
                />
                <p>
                  <span class="fr">Disponible sur</span>
                  <span class="en hidden">Available on</span> <br /><strong
                    >App Store</strong
                  >
                </p></a
              >
            </div>
          </div>
          <div class="sliders">
            <div class="slider"></div>
            <div class="slider second-slider"></div>
          </div>
        </section>
        <section class="features">
          <div class="features__container">
            <div class="features__title">
              <iframe
                class="display-mobile"
                src="https://lottie.host/embed/ab994571-4de2-4519-ad74-ac60396f6916/2sRqzvWEIw.json"
              ></iframe>
              <h2 class="fr">
                Des interfaces innovantes et inédites <br />spécialement
                imaginées pour faciliter <br />l’apprentissage de la langue
                arabe !
              </h2>
              <h2 class="en hidden">
                Innovative and unique interfaces specially <br />designed to
                facilitate the learning <br />
                of the Arabic language!
              </h2>
            </div>
            <div class="features__item features__item1">
              <div class="features__item--left features__item--rotate">
                <p class="rotate-right">
                  <span class="fr">
                    Un design<br />clair et épuré<br />avec une typo<br />arrondie</span
                  >
                  <span class="en hidden"
                    >Sleek <br />clear design <br />with a <br />
                    rounded font</span
                  >
                </p>

                <img
                  src="./images/arrow.da53091a8b0aba074209.svg"
                  alt="arrow"
                  class="arrow left-down"
                />
              </div>
              <div class="feature-image-mobile">
                <img
                  class="feature-image"
                  src="./images/features-1-desktop.svg"
                  alt="Awlad app features"
                />
              </div>
              <div
                class="features__item--right1 features__item--rotate display-desktop"
              >
                <img
                  class="arrow"
                  src="./images/arrow.da53091a8b0aba074209.svg"
                  alt="arrow"
                />
                <p>
                  <span class="fr"
                    >Des exercices<br />
                    adaptés aux<br />
                    spécificités de<br />
                    l’écriture arabe</span
                  >
                  <span class="en hidden">
                    Tailored <br />
                    exercises for <br />
                    Arabic <br />
                    writing nuances
                  </span>
                </p>
              </div>
            </div>
            <div class="features__lottie">
              <dotlottie-player
                src="https://lottie.host/01bb0f11-c442-4356-a4fb-828ce8359973/TFVxvLJ9Fa.json"
                background="transparent"
                speed="1"
                loop
                autoplay
              ></dotlottie-player>
            </div>
            <div class="features__item features__item2">
              <div class="features__item--left features__item--rotate">
                <p class="rotate-left">
                  <span class="fr"
                    >Des bandes<br />
                    dessinées pour<br />
                    mieux faciliter <br />
                    l’immersion</span
                  >
                  <span class="en hidden"
                    >Comics <br />
                    carefully made <br />
                    to enhance <br />
                    immersion
                  </span>
                </p>

                <img
                  src="./images/arrow.da53091a8b0aba074209.svg"
                  alt="arrow"
                  class="arrow left-down"
                />
              </div>
              <div class="feature-image-mobile">
                <img
                  class="feature-image"
                  src="./images/features-2-desktop.svg"
                  alt="Awlad app features"
                />
              </div>
              <div
                class="features__item--right2 features__item--rotate display-desktop"
              >
                <p>
                  <span class="fr">
                    Un système<br />de dictée<br />pensé pour<br />écran
                    mobile</span
                  >
                  <span class="en hidden"
                    >A dictation <br />
                    system <br />
                    crafted for <br />
                    mobile screens</span
                  >
                </p>
                <img
                  class="arrow"
                  src="./images/arrow.da53091a8b0aba074209.svg"
                  alt="arrow"
                />
              </div>
            </div>
            <div class="features__lottie2 display-desktop">
              <dotlottie-player
                src="https://lottie.host/3bf479dd-f758-4975-8c2e-e625ce494363/x5469SnODH.json"
                background="transparent"
                speed="1"
                loop
                autoplay
              ></dotlottie-player>
            </div>
            <div class="features__item features__item3">
              <div class="features__item--left features__item--rotate">
                <img
                  src="./images/arrow.da53091a8b0aba074209.svg"
                  alt="arrow"
                  class="arrow left-top"
                />
                <p class="rotate-right">
                  <span class="fr">Des minis<br />jeux éducatifs</span>
                  <span class="display-mobile fr"
                    >pour réviser<br />En s’amusant!</span
                  >
                  <span class="en hidden">Mini learning<br />games</span>
                  <span class="display-mobile en hidden"
                    >revise<br />and enjoy!</span
                  >
                </p>
              </div>
              <div class="feature-image feature-image-last">
                <img
                  class="feature-image"
                  src="./images/features-3.svg"
                  alt="Awlad app features"
                />
              </div>
              <div
                class="features__item--right3 features__item--rotate display-desktop"
              >
                <p class="features__item--text3-desktop">
                  <span class="fr">...pour réviser<br />En s’amusant!</span>
                  <span class="en hidden"
                    >...revise <br />
                    and enjoy!</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="display-mobile">
            <div class="hero-section__free display-mobile">
              <p>
                100% <span class="fr"> Gratuit</span>
                <span class="en hidden">FREE</span> !
              </p>
              <iframe
                class="fav"
                src="https://lottie.host/embed/0b251a40-0a34-4f06-8cfb-137d150b6386/etYlUdhP7S.json"
              ></iframe>
            </div>
            <div class="app-container display-mobile">
              <a
                href="https://play.google.com/store/apps/details?id=com.bdouin.awladschool&amp;hl=fr&amp;gl=US"
                target="_blank"
                class="app-container__link"
                ><img
                  src="./images/google-play-logo.png"
                  alt="Awlad School google play"
                />
                <p>
                  <span class="fr">Disponible sur</span>
                  <span class="en hidden">Available on</span> <br /><strong
                    >Google Play</strong
                  >
                </p></a
              >
              <a
                href="https://apps.apple.com/tt/app/awlad-learn-arabic/id1612014910"
                target="_blank"
                class="app-container__link"
                ><img
                  src="./images/apple-logo.png"
                  alt="Awlad School App Store"
                />
                <p>
                  <span class="fr">Disponible sur</span>
                  <span class="en hidden">Available on</span> <br /><strong
                    >App Store</strong
                  >
                </p></a
              >
            </div>
          </div>
          <div class="features__illustration-city">
            <img
              class="display-desktop"
              src="./images/city-desktop.195ac7d82175efd04f04.svg"
              alt="city"
            />
            <img
              class="display-mobile"
              src="./images/city.1b71bad9d6785f28640d.svg"
              alt="city"
            />
          </div>
        </section>
        <section class="learn-more">
          <div class="learn-more__container">
            <h2 class="learn-more__title">
              <span class="fr">
                Awlad School participe à la lutte contre<br />l’analphabétisme
                dans les pays arabes</span
              >
              <span class="en hidden"
                >AWLAD SCHOOL PARTICIPATES IN THE FIGHT <br />
                AGAINST ILLITERACY IN ARAB COUNTRIES</span
              >
            </h2>
            <div class="learn-more__frame">
              <img
                src="./images/section6-img.jpg"
                alt="Des enfants qui jouent dans la rue avec des vêtements suspendus à l'arrière-plan"
              />
              <div class="learn-more__frame--content">
                <p>
                  <span class="fr"
                    >Dans un rapport récent, L’ALESCO a tiré la sonnette
                    d’alarme sur le manque de programmes pour favoriser
                    l’alphabétisation dans les milieux ruraux ou les quartiers
                    en difficultés.<br />Avec l’arrivée de la pandémie, et la
                    fermeture de nombreuses écoles, le besoin de supports
                    pédagogiques en ligne gratuits est devenu une urgence.<br />
                    C’est pourquoi, chez Awlad School, nous avons décidé de
                    mettre à disposition GRATUITEMENT l’ensemble de notre
                    programme !</span
                  >
                  <span class="en hidden"
                    >In a recent report, ALESCO sounded the alarm about the lack
                    of programs to promote literacy in rural areas or distressed
                    neighborhoods.<br /><br />With the advent of the pandemic,
                    and the closure of many schools, the need for free online
                    learning materials has become an emergency.<br /><br />
                    That’s why we at Awlad School have decided to make our
                    entire program available for FREE!</span
                  >
                </p>
                <a class="learn-more__btn" href="/donate"
                  ><span class="fr">En savoir plus</span>
                  <span class="en hidden">Learn more</span>
                </a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <div class="logo-and-partner">
          <div class="col1 col">
            <img src="./images/logo.svg" alt="Awlad School logo" />
            <p>
              <span class="fr"
                >Au printemps 2021, à l’occasion du lancement de la plateforme
                française Hoopow, une première version du logiciel Awlad School
                voit le jour. Imaginée par une équipe constituée d’un auteur BD,
                d’un directeur pédagogique et d’un développeur web, le projet a
                pour objectif de proposer à tous l’accès à l’apprentissage de la
                langue arabe, de façon autonome et interactive. <br />
                Aujourd’hui, ce sont plus de 14 personnes qui travaillent à temp
                plein sur le projet !
              </span>
              <span class="en hidden"
                >In the spring of 2021, on the occasion of the launch of the
                French platform Hoopow, a first version of the Awlad School
                software is born. Conceived by a team made up of a comic book
                author, an educational director and a web developer, the
                project’s objective is to offer everyone access to learning
                Arabic in an autonomous and interactive way. <br />
                Today, more than 14 people are working full time on the
                project!</span
              >
            </p>
          </div>
          <div class="col2 col">
            <div class="app-container display-desktop">
              <a
                href="https://play.google.com/store/apps/details?id=com.bdouin.awladschool&amp;hl=fr&amp;gl=US"
                target="_blank"
                class="app-container__link1"
                ><img
                  src="./images/google-play-logo.png"
                  alt="Awlad School google play"
                />
                <p>
                  <span class="fr">Disponible sur</span>
                  <span class="en hidden">Available on</span><br /><strong
                    >Google Play</strong
                  >
                </p></a
              ><a
                href="https://apps.apple.com/tt/app/awlad-learn-arabic/id1612014910"
                target="_blank"
                class="app-container__link2"
                ><img
                  src="./images/apple-logo.png"
                  alt="Awlad School App Store"
                />
                <p>
                  <span class="fr">Disponible sur</span>
                  <span class="en hidden">Available on</span><br /><strong
                    >App Store</strong
                  >
                </p></a
              >
            </div>
            <h2>
              <span class="fr">PARTENAIRES OFFICIELS</span>
              <span class="en hidden">OFFICIAL PARTNERS</span>
            </h2>
            <div class="partner-logo">
              <img
                class="alterwealth"
                src="./images/alterwealth.svg"
                alt="Alterwealth logo"
              />
              <img class="bdouin" src="./images/bdouin.svg" alt="BDouin logo" />
            </div>
          </div>
        </div>
        <div class="copyright">
          <span class="fr"> ©2024. Site réalisé par Studio BDouin </span>
          <span class="en hidden"> ©2024. Site realised by Studio BDouin </span>
        </div>
      </footer>
    </div>
  </body>
</html>
